<nav id="navtop" class="navbar navbar-expand-lg" style="font-size: .875em;">
    <div class="container py-3 py-lg-5">
 
       <div class="navbar-brand d-lg-none py-0">
          <img src="../../img/navbar/logo.svg" width="55" height="55">
       </div>
 
       <a class="navbar-brand d-none d-lg-block py-0" href="/">
          <img src="../../img/navbar/logo.svg" width="80" height="80">
       </a>
 
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-4 text-uppercase fw-bold">
             <li class="nav-item">
                <a class="nav-link {{ ($title === 'Coffee Collection') ? 'active' : '' }}" href="/coffee">
                   coffee
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">
                   machines
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">
                   explore
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">
                   partnership
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">
                   cafe
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">
                   gallery
                </a>
             </li>
          </ul>
 
          <ul class="navbar-nav text-uppercase fw-bold">
             <li class="nav-item">
                <a class="nav-link" href="#">
                   search
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">
                   account
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link position-relative" href="#">
                   cart <span class="badge text-bg-danger rounded-pill position-absolute top-0 start-75 translate-middle">+99</span>
                </a>
             </li>
          </ul>
 
          <!-- <form class="input-group border-bottom" role="search" style="max-width: 200px;">
             <input class="form-control rounded-0 border-0" type="search" placeholder="Search" aria-label="Search">
             <button class="btn rounded-0 border-0" type="submit">
                <i class="bi bi-search"></i>
             </button>
          </form> -->
 
       </div>
 
    </div>
 </nav>