/*------------------------ custom font  ------------------------*/
@font-face {
   font-family: 'Gotham Black';
   src: url(../fonts/gotham-black-webfont.woff) format('woff');
   font-weight: 800;
}

.gotham-black {
   font-family: 'Gotham Black';
}

@font-face {
   font-family: 'Gotham Bold';
   src: url(../fonts/gotham-bold-webfont.woff) format('woff');
   font-weight: 700;
}

.gotham-bold {
   font-family: 'Gotham Bold';
}

@font-face {
   font-family: 'Gotham Medium';
   src: url(../fonts/gotham-medium-webfont.woff) format('woff');
   font-weight: 500;
}

.gotham-medium {
   font-family: 'Gotham Medium';
}

@font-face {
   font-family: 'Gotham Book';
   src: url(../fonts/gotham-book-webfont.woff) format('woff');
   font-weight: 400;
}

.gotham-book {
   font-family: 'Gotham Book';
}

@font-face {
   font-family: 'Gotham Light';
   src: url(../fonts/gotham-light-webfont.woff) format('woff');
   font-weight: 300;
}

.gotham-light {
   font-family: 'Gotham Light';
}

@font-face {
   font-family: 'Gotham Thin';
   src: url(../fonts/gotham-thin-webfont.woff) format('woff');
   font-weight: 200;
}

.gotham-thin {
   font-family: 'Gotham Thin';
}


/*------------------------ struktur  ------------------------*/

html,
body {
   background-color: white;
   color: #323232;
   font-family: 'Gotham Book', sans-serif;
}

main.wrapper {
   min-height: 80vh;
   padding-bottom: 64px;
}


@media (min-width: 992px) {
   main.wrapper {
      padding-bottom: 0;
   }
}


main.wrapper section {
   margin-bottom: 4rem;
}

@media (min-width: 992px) {
   main.wrapper section {
      margin-bottom: 6rem;
   }
}

@media (min-width: 992px) {
   .w-lg-auto {
      width: auto !important;
   }
}

.text-justify {
   text-align: justify;
}


/*------------------------ custom  ------------------------*/

/*custom tombol*/

button:focus,
input:focus,
select:focus,
a:focus,
textarea:focus,
select {
   outline: none !important;
   box-shadow: none !important;
   text-decoration: none !important;
}

a {
   text-decoration: none;
}

a:hover,
a.active {
   text-decoration: underline;
}

.btn,
.navbar-nav .nav-link {
   text-decoration: none !important;
}

.btn-dot .dot {
   margin-bottom: -.5em;
}

.btn-primary {
   --bs-btn-color: #fff;
   --bs-btn-bg: #fd4f00;
   --bs-btn-border-color: #fd4f00;
   --bs-btn-hover-color: #fff;
   --bs-btn-hover-bg: #fe3333;
   --bs-btn-hover-border-color: #fe3333;
   --bs-btn-focus-shadow-rgb: 49, 132, 253;
   --bs-btn-active-color: #fff;
   --bs-btn-active-bg: #fe3333;
   --bs-btn-active-border-color: #fe3333;
   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   --bs-btn-disabled-color: #fff;
   --bs-btn-disabled-bg: #0d6efd;
   --bs-btn-disabled-border-color: #0d6efd;
}

.btn-dot {
   position: relative;
   overflow: hidden;
}

.btn-dot .dot {
   position: absolute;
   bottom: .25em;
   left: 50%;
   transform: translateX(-50%);
   line-height: 1;
   font-size: 20px;
   opacity: 0;
   visibility: hidden;
}

.btn-dot.active .dot {
   opacity: 1;
   visibility: visible;
}


/*custom color*/

.text-bg-primary {
   color: #fff !important;
   background-color: RGBA(253, 79, 0, var(--bs-bg-opacity, 1)) !important;
}

.text-primary {
   color: #fd4f00 !important;
}

.text-dark {
   color: #323232 !important;
}

.text-inherit {
   color: inherit !important;
}


/*pilss tab*/

#pills-tab .nav-link {
   border-radius: 0;
   color: inherit;
   opacity: .5;
   background-color: transparent;
   text-transform: capitalize;
}

#pills-tab .nav-link:hover,
#pills-tab .nav-link.active {
   opacity: 1;
}


/*card product*/

.card-product .btn-bookmark {
   opacity: .25;
}

.card-product .btn-bookmark.active {
   opacity: .75;
}

.card-product a img:first-of-type {
   display: block;
}

.card-product a img:last-of-type {
   display: none;
}

.card-product:hover a img:first-of-type {
   display: none;
}

.card-product:hover a img:last-of-type {
   display: block;
}


/*form check input*/

.form-check-input,
.form-check-label {
   cursor: pointer;
}

.form-check-input[type=checkbox],
.form-check-input[type=radio] {
   border-radius: 100%;
   background-color: #f1f2f2;
}

.form-check-input:checked[type=checkbox],
.form-check-input:checked[type=radio] {
   background-image: none;
   background-color: #878787;
}


/*custom modal*/

.modal.modal-middle .modal-dialog {
   transform: translate(0, 0) scale(0.5);
}

.modal.modal-middle.show .modal-dialog {
   transform: translate(0, 0) scale(1);
}


/* harga produk */

.harga-produk .harga-awal {
   position: relative;
   color: rgba(0, 0, 0, .35);
}

.harga-produk .harga-awal::after {
   content: '';
   width: 100%;
   height: 2px;
   background-color: red;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-15deg);
}


/* media */

.media .media-item {
   display: flex;
   flex-wrap: nowrap;
}

.media .media-header,
.media .media-body {
   width: 100%;
}